{% extends 'base.html' %}
{% block content %}

<main>
    <section class="content">
        <h1>About</h1>
        <p>
            The purpose of this app is to bring artists together. It's meant to be a place where people can explore diverse styles of art. 
            Artists can work together if they would like to in order to make bigger projects they would not normally work on by themselves.
            Eventually this app will have a way to interact with other artists such as a messaging system and even a way to setup project 
            collaborations.
        </p>
    </section>
</main>

{% endblock content %}